configuration {
	display-drun:    "❱";
	show-icons:      false;
}

* {
    font: "SF Pro Display 14";
    padding: 5px 10px;
    background-color: #f6f2ec;
    color: #ECB0AA;
}


window {
    border-radius: 5px;
    height: 500px;
    width: 400px;
    padding: 10px;
    location: west;

}

#prompt {
  color: #C1ABAD;
}
      
listview {
    padding: 20px 10px 0px 10px;
    spacing: 0.5em;
}

#element selected {
  text-color: #000000;
  font: "SF Pro Display 12";
}

/* vim:ft=css

