* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f0f7;
  font-family: "Apple Garamond";
  font-size: 18px;
}

.card-container {
  background-color: #000000;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
}

.container {
  margin: 20px;
  height: 142px;
}

.links a {
  display: flex;
  flex-direction: column;
  color: #fffafa;
  font-size: 1.1em;
}

.links a:hover {
  color: #a6b4b3;
}

img {
  height: auto;
  object-fit: cover;
  object-position: 50% 100%;
  width: 11em;
}
