@-moz-document url-prefix("https://discord.com")
{
  :root {
    --black: #250e07;
    --black-l1: #7a5b52;
    --white: #fffcfd;
    --white-d1: #f6f2f1;
    --white-d2: #f8efee;
    --red: #c97270;
    --red-l1: #ecc3c2;
    --red-d1: #a30003;
    --yellow: #f2cc60;
    --yellow-l1: #ffe597;
    --yellow-l2: #ffeebd;
    --blue: #d0d9e7;

    --background-primary: var(--white);
    --background-secondary: var(--white);
    --background-tertiary: var(--white);
    --background-secondary-alt: var(--white);
    --background-mentioned: var(--white-d1);
    --elevation-low: none;
    --channeltextarea-background: var(--white-d1);
    --background-accent: var(--white-d1);
    --font-primary: var(--font);
    --font-display: var(--font);

    --text-normal: var(--black);

    --embed-border: var(--red-l1);
    --embed-bg: var(--white-d1);

    --mentioned-border: var(--red);
    --mention-bg: var(--yellow-l2);

    --new-msg-marker: var(--red);

    --headers: var(--red-d1);
    --headers-bg: var(--yellow-l1);

    --code-bg: var(--white-d1);

    --new-message-bar-bg: var(--white-d1);
    --new-message-bar-fg: var(--black-l1);

    --server-size: var(--HSL-server-icon-size, var(--HSL-size, 35px));
    --server-spacing: var(--HSL-server-spacing, var(--HSL-spacing, 10px));
    --server-container: calc(var(--server-size) + 20px);
    --HSL-server-icon-size: 36px;
    --HSL-server-spacing: 12px;
    --font: Bakemono Text;
  }

  /* Chat
 *******/

  /* Make all username colors readable on light theme (also applies to userlist) */
  span[class*="username"],
  span[class*="roleColor"] {
    filter: brightness(0.6);
  }

  /* People's names when they are mentioned */
  span[class*="mention"] {
    color: var(--text-normal);
    background: var(--mention-bg) !important;
  }

  /* Message in which someone mentions you */
  div[class*="mentioned"]:before {
    background-color: var(--mentioned-border);
  }

  /* Embeds */
  div[class*="embedWrapper"] {
    border-color: var(--embed-border) !important;
    background-color: var(--embed-bg);
  }

  /* Code blocks */
  code {
    background: var(--code-bg) !important;
  }

  /* Message input field buttons */
  div[class*="channelTextArea"] div[class*="buttons"] {
    margin-right: 5px;
  }

  /* "New message" top bar */
  div[class*="newMessagesBar"] {
    border-radius: 8px;
    background-color: var(--new-message-bar-bg);
    color: var(--text-normal) !important;
  }
  button[class*="barButton"] {
    color: var(--new-message-bar-fg) !important;
  }
  main[class*="chatContent"]
    > div[class*="messagesWrapper"]
    > div[class*="scrollerWrap"] {
    margin-top: 27px;
  }

  /* Unread marker */
  span[class*="unreadPill"] {
    background-color: var(--new-msg-marker);
  }
  div[class*="isUnread"] {
    border-color: var(--new-msg-marker);
    border-style: dotted;
    margin-left: 35px !important;
    margin-right: 35px !important;
  }
  path[class*="unreadPillCapStroke"] {
    color: var(--new-msg-marker);
    fill: var(--new-msg-marker);
  }

  /* Timestamps only appear on hover */
  [class*="timestamp-"] span {
    opacity: 0;
    transition: 0.3s;
  }
  div[id*="messages"] [class*="timestamp-"] span:hover {
    opacity: 1 !important;
  }

  /* Nitro icon */
  div[class*="guildIconContainer"] {
    display: none;
  }

  #app-mount .app-3xd6d0 .base-2jDfDU {
    top: var(--server-container) !important;
    position: absolute !important;
    left: 0 !important;
    right: 0;
    bottom: 0;
    max-width: 100%;
  }
  #app-mount .sidebar-1tnWFu {
    border-radius: 0;
  }
  #app-mount [class*="unreadMentionsIndicator"] {
    width: var(--server-size);
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
  }
  #app-mount .guilds-2JjMmN {
    transform-origin: top left;
    transform: rotate(-90deg);
    height: 100vw !important;
    width: var(--server-container);
    top: var(--server-container);
    bottom: unset;
    position: absolute !important;
    left: 0;
  }
  #app-mount .guilds-2JjMmN > [data-list-id="guildsnav"] {
    margin-bottom: 0 !important;
  }
  #app-mount .guilds-2JjMmN .scrollerWrap-1IAIlv {
    width: calc(100% + 30px);
  }
  #app-mount .guilds-2JjMmN .scrollerBase-_bVAAt {
    padding-top: 0 !important;
  }
  #app-mount
    .guilds-2JjMmN
    .scrollerBase-_bVAAt
    > div[style]:not(.listItem-2P_4kh) {
    height: auto !important;
  }
  #app-mount
    .guilds-2JjMmN
    .scrollerBase-_bVAAt
    > div[style]:not(.listItem-2P_4kh)[style*="height: 0px"] {
    padding-top: 1px;
  }
  #app-mount .guilds-2JjMmN .svg-2zuE5p,
  #app-mount .guilds-2JjMmN .wrapper-28eC3z,
  #app-mount .guilds-2JjMmN .guildsError-b7zR5H,
  #app-mount .guilds-2JjMmN .placeholderMask-3K9THS {
    width: var(--server-size);
    height: var(--server-size);
  }
  #app-mount .guilds-2JjMmN [role="group"] {
    height: auto !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] {
    transform: rotate(90deg) translateY(-50%);
    height: var(--server-size);
    width: 4px;
    top: calc(
      var(--server-size) / -1 + var(--server-size) / 2 - 8px
    ) !important;
    margin-left: -2px;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span {
    height: 100% !important;
    width: 4px !important;
    transform: scale(0, 1) !important;
    transition: 0.15s ease !important;
    margin-left: 0;
    border-radius: 0 4px 4px 0;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 0"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 1"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 2"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 3"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 4"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 5"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 6"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 7"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 8"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 9"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 10"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 11"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 12"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 13"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 14"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 15"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 16"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 17"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 18"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 19"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 20"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 21"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 22"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 23"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 24"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 25"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 26"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 27"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 28"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 29"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 30"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 31"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 32"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 33"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 34"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 35"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 36"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 37"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 38"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 39"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN [class*="pill"] span[style*="height: 40"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-2JjMmN .wrapper-z5ab_q {
    height: var(--server-size) !important;
  }
  #app-mount .guilds-2JjMmN .wrapper-38slSD {
    width: var(--server-container);
  }
  #app-mount
    .guilds-2JjMmN
    [class*="listItem"]:not([class*="listItemWrapper"]) {
    width: var(--server-size);
    transform: rotate(90deg);
    margin: var(--server-spacing) 10px;
    position: unset;
  }
  #app-mount .guilds-2JjMmN [class*="guildSeparator"] {
    transform: rotate(90deg);
    width: var(--server-size);
  }
  #app-mount .guilds-2JjMmN [class*="expandedFolderBackground"] {
    width: var(--server-size);
    left: 50%;
    border-radius: 10px;
    transform: translateX(-50%);
    height: 100%;
  }
  #app-mount .guilds-2JjMmN .folder-21wGz3 {
    background: transparent;
  }
  #app-mount .guilds-2JjMmN.hidden-10MsGQ + .base-2jDfDU {
    top: 0 !important;
  }
  #app-mount [class*="listItemTooltip"] {
    position: absolute;
    max-width: unset;
    white-space: nowrap;
    margin-left: calc(var(--server-size) / -1 - 20px);
    top: calc(var(--server-size) - 10px);
  }
  #app-mount [class*="listItemTooltip"] [class*="tooltipPointer"] {
    transform: rotate(180deg);
    top: -5px;
    right: unset;
    left: 13px;
    z-index: 1;
  }
  #app-mount .friendsOnline-2JkivW {
    position: absolute;
    transform: translate(-50%, 50%);
    top: calc(-50% + var(--server-spacing));
    left: -50%;
    width: calc(var(--server-size) + var(--server-spacing));
    display: flex;
    justify-content: center;
  }
  #app-mount .guilds-2JjMmN.content-Pph8t6,
  #app-mount .BF-folderSidebar {
    position: absolute !important;
    top: calc(var(--server-container) * 2) !important;
  }
  #app-mount .guilds-2JjMmN.content-Pph8t6:not(.closed-j55_T-) + .base-2jDfDU,
  #app-mount .BF-folderSidebar:not(.closed-j55_T-) + .base-2jDfDU {
    top: calc(var(--server-container) * 2) !important;
  }
  #app-mount .guilds-2JjMmN .frame-oXWS21[class*="listItem"] {
    height: var(--server-size) !important;
  }
  #app-mount .guilds-2JjMmN .frame-oXWS21[class*="listItem"] .wrapper-3kah-n {
    height: 100% !important;
  }
  #app-mount .guilds-2JjMmN .frame-oXWS21[class*="listItem"] .button-Jt-tIg {
    width: 100%;
    height: 100% !important;
    border-radius: 50%;
    padding: 2px;
    font-size: 10px;
    box-sizing: border-box;
    text-align: center;
  }
  #app-mount .BF-folderSidebar {
    top: calc(var(--server-container)) !important;
  }
  #app-mount .serverCountWrap-k8F5De {
    height: var(--server-size);
  }
  #app-mount .serverCount-FsTTs1 {
    white-space: pre-line;
    font-size: 12px;
    display: flex;
    align-items: center;
  }

  html.platform-osx #app-mount .typeMacOS-3EmCyP {
    width: 100%;
  }
  html.platform-osx #app-mount .base-2jDfDU {
    top: calc(var(--server-container) + 30px) !important;
  }
  html.platform-osx #app-mount #pluginNotice {
    top: 32px;
    z-index: 100000 !important;
  }

  body.foldercontentopened .base-2jDfDU {
    transition: 0.2s ease !important;
  }

  body #app-mount .app-3xd6d0 .base-2jDfDU {
    top: 0 !important;
    bottom: var(--server-container) !important;
  }
  body #app-mount .guilds-2JjMmN {
    top: unset !important;
    left: 100vw;
    bottom: 0 !important;
    transform-origin: bottom left;
  }
  body #app-mount .guilds-2JjMmN.content-Pph8t6 {
    top: unset !important;
    bottom: var(--server-container) !important;
  }
  body
    #app-mount
    .guilds-2JjMmN.content-Pph8t6:not(.closed-j55_T-)
    + .base-2jDfDU {
    top: 0 !important;
    bottom: calc(var(--server-container) * 2) !important;
  }
  body #app-mount .guilds-2JjMmN [class*="pill"] {
    top: unset !important;
    bottom: calc(
      (var(--server-size) / -1) + (var(--server-size) / 2) - 8px
    ) !important;
  }
  body #app-mount .guilds-2JjMmN [class*="pill"] span {
    border-radius: 4px 0 0 4px;
  }
  body #app-mount [class*="listItemTooltip"] {
    position: absolute;
    white-space: nowrap;
    top: calc(var(--server-size) / -1 - 30px) !important;
    margin-left: calc(var(--server-size) / -1 - 20px);
  }
  body #app-mount [class*="listItemTooltip"] [class*="tooltipPointer"] {
    transform: rotate(0) !important;
    top: unset !important;
    bottom: -10px !important;
  }

  html.platform-osx #app-mount .base-2jDfDU {
    top: 32px !important;
  }

  code {
    font-family: azukifontB;
  }

  .markup-eYLPri code.inline {
    font-family: azukifontB;
  }
  /* Nitro icon */
  div[class*="guildIconContainer"] {
    display: none;
  }

  /* Make server icons duller until hovered */
  nav[class*="guilds"] {
    filter: grayscale(0.7);
    opacity: 0.9;
    transition: 0.5s;
  }
  nav[class*="guilds"]:hover {
    filter: grayscale(0);
    opacity: 1;
  }

  .guilds-2JjMmN:hover + .base-2jDfDU .sidebar-1tnWFu,
  .sidebar-1tnWFu:hover,
  .guilds-2JjMmN:focus-within + .base-2jDfDU .sidebar-1tnWFu,
  .sidebar-1tnWFu:focus-within {
    width: 240px !important;
  }

  .sidebar-1tnWFu {
    width: 0;
    transition: width 0.5s;
  }

  h3,
  h1,
  h2 > div,
  div[class^="repliedTextPreview"] {
    font-family: var(--italic-font) !important;
    font-style: italic;
  }

  /* Hide Nitro gift button */
  button[aria-label="Send a gift"] {
    display: none;
  }

  /* Hide GIF picker button */
  button[aria-label="Open GIF picker"] {
    display: none;
  }

  /* Hide sticker picker button */
  button[aria-label="Open sticker picker"] {
    display: none;
  }

  code {
    font-family: Bakemono Mono;
  }

  .markup-eYLPri code.inline {
    font-family: Bakemono Mono;
  }

  .peopleColumn-1wMU14 {
    background-color: #fffcfd;
  }
}
