/**
 * @name MinimalCord
 * @author Gibbu#1211
 * @version 1.0.0
 * @description Changes Discord enough to give it a fresh feel while also making it darker. Supports both Light and Dark themes.
 * @source https://github.com/Gibbu/BetterDiscord-Themes/tree/master/MinimalCord
 * @website https://www.gibbu.me
*/

/* This theme was edited using https://gibbu.me/editor/minimalcord */

@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');
@import url('https://gibbu.github.io/BetterDiscord-Themes/HorizontalServerlist/base.css');
@import url('https://gibbu.github.io/BetterDiscord-Themes/addons/bottomhsl.css');

:root {
  --accent: #585e74;
  --search-results-width: 25vw;
  --emoji-picker-height: 260px;
  --chat-message-padding: 20px;
  --chat-message-spacing: 22px;
  --font: 'Roboto';
  --HSL-server-icon-size: 40px;
  --HSL-server-spacing:20px;


  --foreground-1: #252831;
  --foreground-2: #21232b;
  --foreground-divider: #dadada;
  --background-1: #30333d;
  --background-2: #292b34;
  --box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
  --scrollbar: rgb(53, 55, 63, 0.5);
  --tooltips: #2d323c;
  --pages-box: var(--message-box);
  --pages-box-footer: #191b20;
  --pages-separator: rgba(255, 255, 255, 0.05);
  --user-popout: var(--dropdown);
  --user-popout-body: #1a1c22;
  --user-popout-message: #15171c;
  --settings-box: var(--message-box);
  --settings-box-hover: #16191d;
  --settings-box-footer: #171a1f;
  --settings-input: #131519;
  --settings-paginator: rgba(0, 0, 0, 0.2);
  --settings-separator: rgba(255, 255, 255, 0.05);
  --dropdown: #1e2127;
  --dropdown-header: #252830;
  --dropdown-item-hover: #22262d;
  --message-box: #292b34;
  --message-box-divider: #292b34;
  --message-embed: #171a1f;
  --message-button: #2d323c;
  --server-background: #1e2127;
  --server-hovered: #292b34;
  --server-selected: #22262d;
  --server-folders: var(--server-background);
  --search-filter-hover: #22262d;
  --search-result-header: #1e2127;
  --channel-hovered-bg: #292b34;
  --channel-selected-bg: #585e74;
  --channel-unread-bg: transparent;
  --channel-selected-text: var(--text-1);
  --channel-unread-text: var(--text-2);
  --channel-muted-text: var(--text-dark);
  --channel-hovered-text: var(--text-1);
  --modal-connection: var(--background-1);
  --modal-list: #15171c;
  --modal-badge-invert: invert(0);
  --modal-bg1-search: var(--search-filter-hover);
  --text-1: #fff;
  --text-2: #c9c9c9;
  --text-3: #999a9b;
  --text-4: #717173;
  --text-dark: #565759;


} 
