* {
    all: unset;
}

window {
    color: #343436;
    font-family: "azukifontB";
}

button:hover {
    color: #dedcce;
}

.eww-window, .profile, .date, .player{
    background-color: #232324;
    border-radius: 0px;
}

.eww-window {
    background-color: #18181d;

    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}


.system-manager {
    background-color: #232324;

    border-radius: inherit;
}

.titlebar {
    color: #dedcce;
    font-size: 16px;
    font-weight: bolder;

    margin-top: -685px;
    margin-left: -20px;
}

// DATE

.time {
    margin: 20px 65px -20px 65px;
    font-size: 50px;
    color: #dedcce;
}

.semicolon {
    margin: 0px;
    margin-top: -5px;
    color: #dedcce;
}

.day {
    margin-top: 25px;
    margin-bottom: 20px;

    font-size: 22px;
    font-weight: bold;
    color: #dedcce;
}

// PLAYER

.song-data {
    font-size: 16px;
    font-weight: bold;
    color: #dedcce;

    margin: 25px 0px 0px -35px;
}

.song-title {
    font-family: "azukifontB", "Semibold";
    font-size: 22px;
    font-weight: bold;

    padding-right: 30px;
}

.player-btn {
    padding: 25px 25px 5px;

    margin-top: -5px;
}

.player-btn button {
    color: #dedcce;

    font-family: "Material Icons";

    padding-right: 30px;
}

.player-btn button:hover {
    color: #E3b0aa;
}

.player-btn pause-play button  {
    font-size: 50px;
}

.song-art {
    background-size: 120px;

    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 60px;
    
    border-radius: 6px;
}

// SYSTEM MANAGER

.system-manager {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.system-manager slider {
    all: unset;
}

.label-ram-bar, .label-vol-bar, .label-brightness-bar, .label-battery {
    font-size: 30px;
    font-weight: bold;
    color: #dedcce;

    margin-top: 20px;
    margin-left: -37px;
}

.label-ram-bar {
    margin-top: 25px;
}

.label-vol-bar {
    margin-left: -35px;
}

.ram-bar scale trough highlight, .vol-bar scale trough highlight, .brightness-bar scale trough highlight, .battery scale trough highlight {
    all: unset;
    background-image: linear-gradient(to right, #84A0C6, #95c4ce);
	color: #dedcce;
	border-radius: 10px;
}

.ram-bar scale trough, .battery scale trough {
	all: unset;
	background-color: #191C2A;
	border-radius: 50px;

	min-height: 5px;
    min-width: 150px;

    margin: 23px 45px 0px -50px;
}

.vol-bar scale trough, .brightness-bar scale trough {
	all: unset;
	background-color: #191C2A;
	border-radius: 50px;

	min-height: 5px;
    min-width: 150px;

    margin: 8px 45px 0px -50px;
}

.powermenu-btn button {
    font-family: "Material Icons";
    font-size: 50px;

    margin: 23px;
    margin-left: 7px;
    margin-right: 7px;
    padding: 0px 15px 0px 15px;
}

.shutdown-btn {
    color: #E27878;
}

.lock-btn {
    color: #EBCB8B;
}

.logout-btn {
    color: #A093C7;
}
